*{
    margin: 0;
    font-family: arial, sans-serif;
}
.container{
    text-align: center;
    margin: 200px auto;
}
.timer{
    font-size: 20px;
    margin: 20px 0;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}